/* Sidebar */
#sidebar {
    background-color: #FCFAF8;
    min-width: 25%;
    border-radius: var(--border-radius);
    overflow: auto;

    padding: var(--padding);
}

#user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
}

#user-name {
    font-weight: bold;
}

#sidebar-buttons {
    display: flex;
    flex-direction: column;
    
    gap: 10px;
    width: 14ch;

    font-size: large;
}

#project-list {
    margin-top: 50px;
}

.project-preview-title {
    margin-left: calc(var(--padding) + 10px);
}

#projects-preview {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#projects-sidebar-header {
    margin-bottom: 10px;
}