:root {
    --border-radius: 12px;
    --padding: 30px;
}

body {
    background-color: #E6E6E6;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main Container */
#main-container {
    height: 70%;
    width: 60%;

    display: flex;
    position: relative;

    border-radius: var(--border-radius);
}

/* CheckBox */
.todo-checkbox-container input[type="checkbox"] {
    display: none;
}

.todo-checkbox-container label {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.checkmark {
    width: 20px;
    height: 20px;
    border: 2px solid #007BFF;
    border-radius: 4px;
    background-color: #fff;
    position: relative;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.todo-checkbox-container input[type="checkbox"]:checked + .checkmark {
    background-color: #007BFF;
    border-color: #007BFF;
}

.todo-checkbox-container .checkmark::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: translate(-50%, -50%) rotate(45deg);
    top: 50%;
    left: 50%;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.todo-checkbox-container input[type="checkbox"]:checked + .checkmark::after {
    opacity: 1;
}

/* Buttons */
button {
    display: flex;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    
    margin: 0;
    padding: 0;
    border: none;
    
    background: none;
    color: inherit;
    text-shadow: none;
    box-shadow: none;
    
    font: inherit;
    line-height: normal;
    
    cursor: pointer;
    outline: none;
    
    -webkit-tap-highlight-color: transparent;
}

/* Icons */
.sidebar-icon {
    width: 20px;
    height: 20px;
    display: inline-flex;
    margin-right: 10px;
    align-self: center;
}

.info-icon,
.delete-icon {
    width: 30px;
    height: 30px;
}

/* User Avatar */
#user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
    overflow: hidden;
    object-fit: cover;
    transition: all 0.3s ease;
}

#user-avatar:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Ul, Li reset */
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Main Container Shadow */
#main-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4), 0 8px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#main-container:hover {
    transform: translateY(0);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3), 0 6px 6px rgba(0, 0, 0, 0.2);
}

/* ToDo Remove Animation */
@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(-100%);
    }
}

.fade-out {
    animation: fadeOut 1s ease forwards;
}